.choices{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

p.numberOfQ{
    border-radius:1px solid black;

}

body{
    background-color: #FFFBDB;
}

.game-start{
    margin-top: 2%;
    display: flex;
    align-items: center;
    justify-content: center; 
}

#start:hover{
background-color: #30362F;
color:white;
}

.question-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15%;
}

.result-info{
    justify-content: center;
    align-items: center;
}

.description{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15%;
}